<div align=center style="line-height:200%;font-family:vazir;font-size:medium;color:#0099cc">
<h1>
توابع تبدیل و فیلتر
</h1>
</p>
</div>

In [3]:
import pandas as pd
import numpy as np
cars_dictionary = {
    "model" :["Peykan", "Peykan", "Peykan", "BMW X6", "BMW X6", "BMW X6", "Nissan Junior", "Nissan Junior", "Nissan Junior", "Nissan Junior"],
    "Color" :["Red", "White", "Olive",  "Black", "Ametrine", "navy", "Blue", "White", "Blue", "Red"],
    "Weight (KG)" :[990, 1000, 990, 2320, 2320, 2220, 1540, 1540, 1600, 1540],
    "year" :[1346, 1357, 1388, 1391, 1393, 1393, 1375, 1383, 1375, 1389],
    "price" :[25, 30, 48, 2200, 4800, 4800, 105, 105, 130, 145]
}

cars_df = pd.DataFrame(cars_dictionary , index = [3523, 2636, 1031, 2159, 2973, 1083, 3214, 1111, 2525, 2445])
cars_df

              model     Color  Weight (KG)  year  price
3523         Peykan       Red          990  1346     25
2636         Peykan     White         1000  1357     30
1031         Peykan     Olive          990  1388     48
2159         BMW X6     Black         2320  1391   2200
2973         BMW X6  Ametrine         2320  1393   4800
1083         BMW X6      navy         2220  1393   4800
3214  Nissan Junior      Blue         1540  1375    105
1111  Nissan Junior     White         1540  1383    105
2525  Nissan Junior      Blue         1600  1375    130
2445  Nissan Junior       Red         1540  1389    145

In [4]:
df_copy = cars_df.copy()
df_copy['percent'] = df_copy.groupby('model')['price'].transform(lambda x: ((x-x.min())/(x.max()-x.min()))*100)
df_copy

              model     Color  Weight (KG)  year  price    percent
3523         Peykan       Red          990  1346     25    0.00000
2636         Peykan     White         1000  1357     30   21.73913
1031         Peykan     Olive          990  1388     48  100.00000
2159         BMW X6     Black         2320  1391   2200    0.00000
2973         BMW X6  Ametrine         2320  1393   4800  100.00000
1083         BMW X6      navy         2220  1393   4800  100.00000
3214  Nissan Junior      Blue         1540  1375    105    0.00000
1111  Nissan Junior     White         1540  1383    105    0.00000
2525  Nissan Junior      Blue         1600  1375    130   62.50000
2445  Nissan Junior       Red         1540  1389    145  100.00000

In [ ]:
models = cars_df['model'].value_counts() >= 4
models

In [ ]:
cars_df.apply(lambda x : models[x.model] , axis = 1)

In [ ]:
cars_df [ cars_df.apply(lambda x : models[x.model] , axis = 1) ]

In [ ]:
cars_df.groupby('model').filter(lambda x : len(x) >= 4)